.logo1{
    margin-top: -20px;
    margin-left: 750px;
    margin-bottom: 20px;
}

.logo2{
    margin-top: -75px;
    margin-left: 850px;
    margin-bottom: 20px;
}

.logo3{
    margin-top: -75px;
    margin-left: 950px;
    margin-bottom: 20px;
}

.logo4{
    margin-top: -95px;
    margin-left: 70px;
}

.navBar{
    position:relative;
    background-color: #646F4B;
    color: white;
    position: center;
    width: 100%;
    border-radius: 10px;
    height: 90px;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300%;    
    
}

nav ul{
    margin-left: -15px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}




@media only screen and (max-width:700px){
    .navBar{
        background-color: #646F4B;
        color: white;
        position: center;
        width: 100%;
        border-radius: 10px;
        height: 45px;
    }
}